/*here is going to be that entire gray box that is the twitter widget, whats happeing in the only stlyeling besides the gray box*/
/* rest of the styling will be done to the individual widget which is in the datafetcher.css */
.widget {
    border-radius: 15px;
    border-color: black;
    padding-left: 30px;
    padding-right: 20px;
    flex: .30;
    background-color: white;
    margin-bottom: 20px;
    min-width: 350px;
    margin-top: 7px;
}

.blocks {
    border-radius: 15px;
    background-color: var(--hover-color);
    border-bottom: 1px solid #e6ecf0;
    display: flex;
}

.items > .whats-happeneing {
    font-size: 25px;
    font-weight: bold;
    font-family: var(--twitter-font);
    color: #14171a;
    padding-left: 15px;
}

.widget > .copyright-stuff {
    font-size: 10px;
    margin-bottom: 10px;
    color: #14171a;
    padding-left: 15px;
    padding-top: 5px;
}

.see-more {
    padding: 15px;
    font-size: 15px;
    font-weight: bold;
    color: var(--twitter-color);
    padding-left: 15px;
}

.widget > .search-bar {
    padding: 10px;
}