/* index.css */
/* styling for individual post */

.post {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--background-color) ;
  display: flex;
  align-items: flex-start;
}
  
.post-body > .image-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.post-body > .image-container > img {
  border-radius: 30px;
  max-width: 99%;
  max-height: 100%;
  padding-right: 10px;
}

.post-body {
  flex: 1;
}

.post-header-text > h3 {
  font-size: 15px;
  margin-bottom: 5px;
}

.post-header-discription {
  margin-bottom: 10px;
  font-size: 15px;
}

.post-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.bubble:hover {
  color: orange;
  cursor: pointer;
}

.retweet:hover {
  color: var(--twitter-color);
  cursor: pointer;
}

.pub:hover {
  color: greenyellow;
  cursor: pointer;
}

.favorite:hover {
  color: red;
  cursor: pointer;
}

.post-badge {
  font-size: 14px !important;
  color: orange !important;
  padding: 1px;
}

.post-avatar {
  padding: 10px;
}