.tweetbox {
    padding-bottom: 10px;
    border-bottom: 2px solid var(--background-color);
    padding-right: 10px;
}

.tweetbox > form {
    display: flex;
    flex-direction: column;
}

.tweetbox-input {
    padding: 20px;
    display: flex;
}

.tweetbox-input > input {
    flex: 1;
    border: none;
    font-size: 20px;
    margin-left: 20px;
}
.image-input {
    padding: 20px;
}

.tweetbox-button {
    background-color: var(--twitter-color) !important;
    border: none !important;
    color: white !important;
    font-weight: 900px !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    width: 80px !important;
    height: 40px !important;
    margin-top: 20px !important;
    margin-left: auto !important;
}