.tweetbox {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--background-color);
}

.tweetbox__form {
  display: flex;
}

.tweetbox_form-field {
  margin-left: 1rem;
  flex: 1;
}

.tweetbox__input {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tweetbox__input input {
  border: none;
  height: 3rem;
  width: 100%;
  border-bottom: 1px solid grey;
  margin-bottom: 1rem;
}

.tweetbox__btn {
  background-color: var(--twitter-color) !important;
  border-radius: 33px !important;
  color: white !important;
  font-size: 0.9rem !important;
  text-transform: capitalize !important;
  border: none !important;
  font-weight: 900px !important;
  border-radius: 30px !important;
  width: 80px !important;
  height: 40px !important;
  margin-top: 20px !important;
  margin-left: auto !important;
}

.tweetbox__icons {
  color: var(--twitter-color);
}

.tweetbox__icon {
  margin-right: 1rem;
}

/* 
.tweetbox-input {
    padding: 10px;
    display: flex;
}

.tweetbox-input > input {
    flex: 1;
    border: none;
    font-size: 20px;
    margin-left: 20px;
}
.image-input {
    padding: 20px;
}

.tweetbox-button {
    background-color: var(--twitter-color) !important;
    border: none !important;
    color: white !important;
    font-weight: 900px !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    width: 80px !important;
    height: 40px !important;
    margin-top: 20px !important;
    margin-left: auto !important;
} */
