.title-signup-page {
    padding: 10px;
    font-size: 36px;
    font-weight: 700;
    color: black;
}

.forms > .username,.password {
    display: block;
    padding: 15px;
    border: .5px solid black;
    border-radius: 5px;
    margin: 10px;
}

.forms > .username > .user-input {
    border: none;
    outline: none;
    background: none;
    font-size: 18px;

}


.forms > .password > .pass-input {
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
}

.forms > .register-button {
    background: var(--twitter-color);
	border: none;
	border-radius: 20px;
	cursor: pointer;
	color: black;
	font-weight: 600;
	letter-spacing: .05em;
	overflow: hidden;
	padding: 1.15em 3.5em;
	min-height: 3.3em;
	position: relative;
}