.sidebar {
    flex: .3;
    margin-top: 10px;
    padding-left: 0px;
    padding-right: 30px;
    min-width: 220px;
}

.sidebar-button {
    background-color: var(--twitter-color) !important;
    color: white !important;
    border: none !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 40px !important;
    height: 50px !important;
    margin-top: 10px !important;
    position: relative;
}

.sidebar-twitterIcon {
    font-size: 30px !important;
    color: var(--twitter-color);
    margin-left: 8px;
    padding: 10px;
    align-items: left;
    cursor: pointer;
}

.sidebar-twitterIcon:hover {
    color: var(--twitter-color) !important;
    background-color: var(--background-color);
    border-radius: 90%;
    color: black;
    transition: color 100ms ease-out;
}