.sidebar-options {
    display: flex;
    padding: 8px;
    align-items: center;
    cursor: pointer;
    height: 45px;
}

.sidebar-options:hover {
    background-color: var(--background-color);
    border-radius: 40px;
    color: black;
    transition: color 100ms ease-out;
}


.sidebar-options > .MuiSvgIcon-root{
    padding: 10px;
}

.sidebar-options > h2{
    font-size: 20px;
    margin-right: 20px;
    font-weight: normal;
}

.icon {
    align-items: left;
}