.title-login-page {
    padding: 10px;
    font-size: 36px;
    font-weight: 700;
    color: black;
    position: relative;

}

.forms > .username,.password {
    display: block;
    padding: 15px;
    border: .5px solid black;
    border-radius: 5px;
    margin: 10px;
}

.forms > .username > .user-input {
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
}


.forms > .password > .pass-input {
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
}

.forms > .login-button {
    background: black;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	color: white;
	font-weight: 800;
	letter-spacing: .05em;
	overflow: hidden;
	padding: .5em 12em;
	min-height: 3.3em;
	position: relative;
}

.new-user > .new-user-text {
    font-size: 14px;    
    color: #536371;
    margin-top: 10px;
    padding: 10px;
    position: relative;
    left: 90px;
    top: 15px;
    text-decoration: none;
}